/src/tmp/*.php
/src/data/*.json
/.git/
/src/logs/*.log
/src/uploads/*
/src/vendor
/src/composer.phar
/src/start.sh
/src/mqttconnect.sh
/src/sessionmanager.sh
*.log
/mosquitto/data/*
src/config_dev.ini
.env_local
.env_test
